ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", \
ENV{ID_FS_UUID}=="87633db2-4993-4017-891b-2d296912015f", \
ENV{UDISK_AUTO}="0", \
TAG+="systemd", ENV{SYSTEMD_WANTS}="draupnir.service"
